2nd_Term/Protein_Stimulation/*
*.npy
*.mp4
*.gif
*.png
*.dat
*.tcl
*.bmp
*.fig
*.csv
*:Zone.Identifier
*.pyc
*.pdb
1st_Term/vmd-tutorial-files/*
1st_Term/Result/*
1st_Term/machine_learning/01-GC/*
1st_Term/machine_learning/02-Swap/*